{% extends 'component/base.html' %} {% load static %} {% load humanize %} {% block content %}
<section class="single-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="single-content">
          <h2>My Account</h2>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'store:home'%}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              My Account
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="account-part">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="account-menu">
          <ul class="nav nav-tabs">
            <li>
              <a href="#dash" class="nav-link active" data-toggle="tab"
                >Dashboard</a
              >
            </li>
            <li>
              <a href="#pro" class="nav-link" data-toggle="tab">Profile</a>
            </li>
            <li>
              <a href="#order" class="nav-link" data-toggle="tab">Orders</a>
            </li>
            <li>
              <a href="#sett" class="nav-link" data-toggle="tab">Settings</a>
            </li>
            <li><a href="{% url 'account_logout' %}" class="nav-link">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-pane active" id="dash">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading"><h2>Dashboard</h2></div>
        </div>
        <div class="col-lg-12">
          <div class="account-dash">
            <div class="alert fade show" role="alert">
              <p>
                From your account dashboard. you can easily check & view your
                recent orders, manage your shipping and billing addresses and
                Edit your password and account details.
              </p>
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="account-card">
            <div class="account-title">
              <h3>Newsletter</h3>
              
            </div>
            <div class="dash-content">
              <p>
                Any important information can be displayed for the user here.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="account-card">
            <div class="account-title">
              <h3>Contact Information</h3>
              
            </div>
            <ul class="account-list">
              <li>
                <h6>Name:</h6>
                <p>{{customer.first_name}}, {{customer.last_name}}</p>
              </li>
              <li>
                <h6>Email:</h6>
                <p>{{customer.user.email}}</p>
              </li>
              <li>
                <h6>Phone:</h6>
                <p>{{customer.phone|phone2numeric}}</p>
              </li>
              <li>
                <h6>Username:</h6>
                <p>{{customer.user.username}}</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="account-card">
            <div class="account-title">
              <h3>Billing Address</h3>
              
            </div>
            <ul class="account-list">
              <li>
                <h6>Post Code:</h6>
                <p>{{customer.billing.post_code}}</p>
              </li>
              <li>
                <h6>State:</h6>
                <p>{{customer.state}}</p>
              </li>
              <li>
                <h6>City:</h6>
                <p>{{customer.billing.city}}</p>
              </li>
              <li>
                <h6>Country:</h6>
                <p>{{customer.country}}</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="account-card">
            <div class="account-title">
              <h3>Shipping Address</h3>
              
            </div>
            <ul class="account-list">
              <li>
                <h6>Post Code:</h6>
                <p>{{customer.shipping.post_code}}</p>
              </li>
              <li>
                <h6>State:</h6>
                <p>{{customer.shipping.state}}</p>
              </li>
              <li>
                <h6>City:</h6>
                <p>{{customer.shipping.city}}</p>
              </li>
              <li>
                <h6>Country:</h6>
                <p>{{customer.country}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="pro">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading"><h2>Your Timeline</h2></div>
        </div>
        <div class="col-lg-6">
          <div class="account-card">
            <div class="account-title">
              <h3>Account Summary</h3>
              
            </div>
            <div class="profile-intro">
              <div class="profile-author">
                <a href="#"
                  ><img src="{{customer.picture.url}}" alt="01"
                /></a>
                <h4>{{customer.first_name}} {{customer.last_name}}</h4>
                <p><span>Joined:</span>{{customer.joined|date:"M j, Y"}}</p>
              </div>
              <ul class="account-list">
                <li>
                  <h6>Total Orders:</h6>
                  <p>{{orders.count}}</p>
                </li>
                <li>
                  <h6>Cancelled Orders:</h6>
                  <p>02</p>
                </li>
                <li>
                  <h6>Spend Moneys:</h6>
                  <p>#{{total_spending|intcomma}}</p>
                </li>
                <li>
                  <h6>Pending Order:</h6>
                  <p>01</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="account-card">
            <div class="account-title">
              <h3>Contact Information</h3>
              <a href="#">Edit</a>
            </div>
            <ul class="account-list">
              <li>
                <h6>Name:</h6>
                <p>{{customer.first_name}}, {{customer.last_name}}</p>
              </li>
              <li>
                <h6>Email:</h6>
                <p>{{customer.user.email}}</p>
              </li>
              <li>
                <h6>Phone:</h6>
                <p>{{customer.phone|phone2numeric}}</p>
              </li>
              <li>
                <h6>Username:</h6>
                <p>{{customer.user.username}}</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="account-card">
            <div class="account-title">
              <h3>Billing Address</h3>
              <a href="#">Edit</a>
            </div>
            <ul class="account-list">
              <li>
                <h6>Post Code:</h6>
                <p>{{customer.billing.post_code}}</p>
              </li>
              <li>
                <h6>State:</h6>
                <p>{{customer.state}}</p>
              </li>
              <li>
                <h6>City:</h6>
                <p>{{customer.billing.city}}</p>
              </li>
              <li>
                <h6>Country:</h6>
                <p>{{customer.country}}</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="account-card">
            <div class="account-title">
              <h3>Shipping Address</h3>
              <a href="#">Edit</a>
            </div>
            <ul class="account-list">
              <li>
                <h6>Post Code:</h6>
                <p>{{customer.shipping.post_code}}</p>
              </li>
              <li>
                <h6>State:</h6>
                <p>{{customer.shipping.state}}</p>
              </li>
              <li>
                <h6>City:</h6>
                <p>{{customer.shipping.city}}</p>
              </li>
              <li>
                <h6>Country:</h6>
                <p>{{customer.country}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="order">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading"><h2>Order History</h2></div>
        </div>
        <div class="col-lg-12">
          <div class="order-content">
            <table class="table-list">
              <thead>
                <tr>
                  <th scope="col">Order</th>
                  <th scope="col">Date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Product</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                {% for order in orders%}
                <tr>
                  <td class="table-order"><p>{{forloop.counter}}</p></td>
                  <td class="table-date"><p>{{order.ordered_date|date:"M d, Y"}}</p></td>
                  <td class="table-status"><p>{% if order.ordered %} Completed {%else%} Not yet Ordered {%endif%}</p></td>
                  <td class="table-product"><p>{{order.items.all.count}}</p></td>
                  <td class="table-total"><p>#{{order.get_final_price}}</p></td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>

        <!--
          TODO: add order pagination
          <div class="col-lg-12">
          <div class="order-btn">
            <a href="#" class="btn btn-inline"
              ><i class="fas fa-eye"></i>show more</a
            >
          </div>
        </div> -->
      </div>
    </div>
    <div class="tab-pane" id="sett">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading"><h2>User Information</h2></div>
          <form class="settings-form">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="fname" class="form-label">First Name:</label
                  ><input
                    type="text"
                    id="fname"
                    class="form-control"
                    placeholder="Mahmudul"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="lname" class="form-label">Last Name:</label
                  ><input
                    type="text"
                    id="lname"
                    class="form-control"
                    placeholder="Hasan"
                  />
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="cname" class="form-label">Company Name:</label
                  ><input
                    type="text"
                    id="cname"
                    class="form-control"
                    placeholder="Vegana food world limited"
                  />
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="address" class="form-label">Address:</label
                  ><input
                    type="text"
                    id="address"
                    class="form-control"
                    placeholder="1420, West Jalkuri, Narayanganj, Bangladesh"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="city" class="form-label">City:</label
                  ><input
                    type="text"
                    id="city"
                    class="form-control"
                    placeholder="Narayanganj"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="state" class="form-label">State:</label
                  ><select id="state" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="pcode" class="form-label">Post Code:</label
                  ><input
                    type="text"
                    id="pcode"
                    class="form-control"
                    placeholder="1420"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="country" class="form-label">Country:</label
                  ><input
                    type="text"
                    id="country"
                    class="form-control"
                    placeholder="Bangladesh"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="email" class="form-label">Email:</label
                  ><input
                    type="text"
                    id="email"
                    class="form-control"
                    placeholder="mironcoder@gmail.com"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="pnumber" class="form-label">Phone Number:</label
                  ><input
                    type="text"
                    id="pnumber"
                    class="form-control"
                    placeholder="+8801838288389"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="bdate" class="form-label">Birthday:</label
                  ><input
                    type="date"
                    id="bdate"
                    class="form-control"
                    value="1995-02-02"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="file" class="form-label">Profile Image:</label
                  ><input type="file" id="file" class="form-control" />
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-btn">
                  <button type="submit" class="btn btn-inline">
                    <i class="fas fa-user-check"></i><span>update info</span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
