{% extends 'component/base.html' %}
{% load static %}

{% block content %}
    <section class="single-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="single-content">
              <h2>Cartlist</h2>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'store:home' %}">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="{% url 'store:home' %}">Shop</a>
                </li>
                <!-- <li class="breadcrumb-item">
                  <a href="product-details.html">Product</a>
                </li> -->
                <li class="breadcrumb-item active" aria-current="page">
                  Cartlist
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="cart-part">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="cart-list">
              <table class="table-list">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% if order_items %}
                  {% for orderitem in order_items %}
                  <tr>
                    <td class="table-number"><h5>{{forloop.counter}}</h5></td>
                    <td class="table-product">
                      <img
                        src="{{orderitem.product.featured_image.url}}"
                        alt="product-1"
                      />
                    </td>
                    <td class="table-name"><h5>{{orderitem.product.name}}</h5></td>
                    <td class="table-price"><h5>#{{orderitem.product.get_price}}</h5></td>
                    <td class="table-quantity">
                      <a href="{% url 'store:add-single-to-cart' orderitem.product.slug %}">+</a>
                      <p>{{orderitem.quantity}}</p>
                      <a href="{% url 'store:remove-single-from-cart' orderitem.product.slug %}">-</a>
                    </td>
                    <td class="table-total"><h5>#{{orderitem.get_item_total_price}}</h5></td>
                    <td class="table-action">
                      <a href="{% url 'store:remove-from-cart' orderitem.product.slug %}"><button ><i class="fas fa-trash-alt"></i></button></a>
                    </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td class="table-number"><h5>#</h5></td>
                    
                    <td class="table-name"><h5> Your cart is empty, continue shopping. </h5></td>
                    <td class="table-price"><h5></h5></td>
                    <td class="table-quantity">
                      <p></p>
                    </td>
                    <td class="table-total"><h5></h5></td>
                    <td class="table-action">
                      <!-- <button><i class="fas fa-trash-alt"></i></button> -->
                    </td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <div class="cart-back">
              <a href="{% url 'store:home'%}" class="btn btn-inline">
                <i class="fas fa-undo-alt"></i> <span>Back to Shop</span>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="cart-cupon">
              <!-- <form>
                <input type="text" placeholder="Coupon Code" />
                <button class="btn btn-inline">
                  <i class="fas fa-cut"></i><span>Apply Now</span>
                </button>
              </form> -->
            </div>
          </div>
        </div>
        {% if cart_total > 0 %}
        <div class="row">
          <div class="col-lg-12">
            <div class="cart-totals">
              <h2 class="title">Cart Totals</h2>
              <ul>
                <li><span>* Shipping Charge has not been included. </li>
                <li><span>Total</span> <span> #{{cart_total}}</span></li>
              </ul>
            </div>
            <div class="cart-proceed">
              <a href="{% url 'store:checkout' %}" class="btn btn-inline">
                <i class="fas fa-check"></i> <span>Proceed to Checkout</span>
              </a>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </section>
  {% endblock content%}