{% extends 'component/base.html' %}
{% load static %}

{% block title %}
  <title>{{product.name}}</title>
{% endblock title %}

{% block content %}
      
    <section class="single-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="single-content">
              <h2>Single product details</h2>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'store:home' %}">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="shop-leftbar.html">Shop</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Product Details
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pro-det-part">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-5">
            <div class="pro-det-img">
              <img src="{{product.featured_image.url}}" alt="product-1" />
            </div>
          </div>
          <div class="col-sm-8 col-md-6 col-lg-5">
            <div class="pro-det-cntnt">
              <h3>{{product.name}}</h3>
              
              {% if product.discount_price %}
              <p><del>#{{product.actual_price}}</del> #{{product.discount_price}}</p>
              {% else %}
              <p>#{{product.actual_price}}</p>
              {% endif %}
                
              
            </div>
            <div class="pro-det-rev">
              <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><a href="#">(2) Reviews</a></li>
              </ul>
            </div>
            <div class="pro-det-sum">
              <p>
                {{product.description}}
              </p>
            </div>
            <div class="pro-det-cart">
              <ul>
                <li><input type="number" placeholder="0" /></li>
                <li>
                  <a href="{% url 'store:add-to-cart' product.slug %}" class="btn btn-outline">
                    <i class="fas fa-shopping-basket"></i>
                    <span>add to cart</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'store:add-to-wishlist' product.slug %}" class="btn btn-outline">
                    <i class="fas fa-heart"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="pro-det-pay">
              <h5>Payment:</h5>
              <ul>
                <li>
                  <a href="#"
                    ><img
                      src="{% static 'assets/images/pay-card/01.jpg' %}"
                      alt="payment-1"
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img
                      src="{% static 'assets/images/pay-card/02.jpg' %}"
                      alt="payment-2"
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img
                      src="{% static 'assets/images/pay-card/03.jpg' %}"
                      alt="payment-3"
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img
                      src="{% static 'assets/images/pay-card/04.jpg' %}"
                      alt="payment-4"
                  /></a>
                </li>
              </ul>
            </div>
            <div class="pro-det-share">
              <h5>Share:</h5>
              <ul class="pro-det-icon">
                <li>
                  <a class="icon icon-inline" href="#"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a class="icon icon-inline" href="#"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a class="icon icon-inline" href="#"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </li>
                <li>
                  <a class="icon icon-inline" href="#"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a class="icon icon-inline" href="#"
                    ><i class="fab fa-pinterest-p"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 col-lg-2">
            <div class="pro-det-ad">
              <a href="#"
                ><img src="{% static 'assets/images/ad-banner/02.jpg' %}" alt="ad-2"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pro-tab-part">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="pro-tab-menu">
              <ul class="nav nav-tabs">
                <li>
                  <a href="#review" class="nav-link active" data-toggle="tab"
                    >reviews (2)</a
                  >
                </li>
                <li>
                  <a href="#specific" class="nav-link" data-toggle="tab"
                    >specification</a
                  >
                </li>
                <li>
                  <a href="#descrip" class="nav-link" data-toggle="tab"
                    >description</a
                  >
                </li>
              </ul>
            </div>
            <div class="tab-pane active" id="review">
              <div class="pro-tab-review">
                <ul class="review-list">
                  <li class="review-item">
                    <div class="reviewer-img">
                      <a href="#"
                        ><img
                          src="../assets/images/review/01.jpg"
                          alt="reviewer-1"
                      /></a>
                    </div>
                    <div class="reviewer-descrip">
                      <div class="reviewer-meta">
                        <a href="#">Miron hasan</a>
                        <p>02 February 2020</p>
                      </div>
                      <ul class="reviewer-rating">
                        <li><i class="fas fa-star active"></i></li>
                        <li><i class="fas fa-star active"></i></li>
                        <li><i class="fas fa-star active"></i></li>
                        <li><i class="fas fa-star active"></i></li>
                        <li><i class="fas fa-star active"></i></li>
                      </ul>
                      <div class="reviewer-quote">
                        <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Amet, temporibus ad soluta iusto necessitatibus
                          saepe, nemo laboriosam quod qui provident ipsum
                          laudantium itaque veritatis illo.
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="review-item">
                    <div class="reviewer-img">
                      <a href="#"
                        ><img
                          src="{% static 'assets/images/review/02.jpg' %}"
                          alt="reviewer-2"
                      /></a>
                    </div>
                    <div class="reviewer-descrip">
                      <div class="reviewer-meta">
                        <a href="#">Salina gomes</a>
                        <p>02 February 2020</p>
                      </div>
                      <ul class="reviewer-rating">
                        <li><i class="fas fa-star active"></i></li>
                        <li><i class="fas fa-star active"></i></li>
                        <li><i class="fas fa-star active"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                      </ul>
                      <div class="reviewer-quote">
                        <p>
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Amet, temporibus ad soluta iusto necessitatibus
                          saepe, nemo laboriosam quod qui provident ipsum
                          laudantium itaque veritatis illo.
                        </p>
                      </div>
                    </div>
                  </li>
                </ul>
                <form class="review-form">
                  <h3>Leave Your Qoute</h3>
                  <div class="grid-input">
                    <input type="text" placeholder="Your name" />
                    <input type="email" placeholder="Your email" />
                  </div>
                  <div class="row-input">
                    <textarea placeholder="Your quote"></textarea>
                  </div>
                  <div class="star-rating">
                    <input type="radio" name="rating" id="star-1" /><label
                      for="star-1"
                    ></label>
                    <input type="radio" name="rating" id="star-2" /><label
                      for="star-2"
                    ></label>
                    <input type="radio" name="rating" id="star-3" /><label
                      for="star-3"
                    ></label>
                    <input type="radio" name="rating" id="star-4" /><label
                      for="star-4"
                    ></label>
                    <input type="radio" name="rating" id="star-5" /><label
                      for="star-5"
                    ></label>
                  </div>
                  <button class="btn btn-outline">
                    <i class="fas fa-paper-plane"></i> send quote
                  </button>
                </form>
              </div>
            </div>
            <div class="tab-pane" id="specific">
              <div class="pro-tab-specific">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th scope="row">Product code</th>
                      <td>SKU: 101783</td>
                    </tr>
                    <tr>
                      <th scope="row">Weight</th>
                      <td>1kg, 2kg</td>
                    </tr>
                    <tr>
                      <th scope="row">Styles</th>
                      <td>@Girly</td>
                    </tr>
                    <tr>
                      <th scope="row">Properties</th>
                      <td>Short Dress</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane" id="descrip">
              <div class="pro-tab-descrip">
                <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, as opposed to using 'Content
                  here, content here', making it look like readable English.
                  Many desktop publishing packages and web page editors now use
                  Lorem Ipsum as their default model text, and a search for
                  'lorem ipsum' will uncover many web sites still in their
                  infancy. Various versions have evolved over the years,
                  sometimes by accident, sometimes on purpose (injected humour
                  and the like).
                  <span
                    >There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text.</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include 'component/related-products.html' %}
    {% include 'component/new-arrivals.html' %}
    

{% endblock content %}