{% extends 'component/base.html' %}
{% load static %}

{% block title %}
  <title>Wishlist - Vegana</title>
{% endblock title %}

{% block content %}

    
<section class="single-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="single-content">
              <h2>Wishlist</h2>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'store:home' %}">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="{% url 'store:home' %}">Shop</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Wishlist
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="wish-part">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="wish-list">
              <table class="table-list">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                    <th scope="col">Shopping</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% if wishlist %}
                    {% for item in wishlist %}
                  <tr>
                    <td class="table-number"><h5>{{forloop.counter}}</h5></td>
                    <td class="table-product">
                      <img
                        src="{{item.product.featured_image.url}}"
                        alt="product-1"
                      />
                    </td>
                    <td class="table-name"><h5>{{item.product.name}}</h5></td>
                    <td class="table-price"><h5># {{item.product.get_price}}</h5></td>
                    <td class="table-status"><h5>{% if item.product.is_on_sale %} In stock {% else %} Not in Stock {% endif %}</h5></td>
                    <td class="table-shop">
                        <a class="btn btn-inline" href="{% url 'store:add-wish-to-cart' item.product.slug %}">Add to Cart</a>
                    </td>
                    <td class="table-action">
                      <a href="{% url 'store:remove-from-wishlist' item.product.slug %}"><i class="fas fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td class="table-number"><h5>#</h5></td>
                    <td class="table-product">
                      
                    </td>
                    <td class="table-name"><h5>There is no item in your wishlist. Please proceed to shopping</h5></td>
                    
                  </tr>

                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="wish-btn">
              <a href="{% url 'store:home' %}" class="btn btn-inline">
                <i class="fas fa-undo-alt"></i> <span>Continue Shopping</span>
              </a>
              
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}