<header class="header-part">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        {%if messages %}
        {% for message in messages %}
        <div
          class="header-info alert alert-warning alert-dismissible fade show"
          role="alert"
        >
          
          <p>{{message}}</p>
          <button
            type="button"
            {%
            if
            message.tags
            %}
            class="{{message.tags}}"
            {%
            endif
            %}
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <ul class="header-info">
          <li>
            <i class="fas fa-envelope"></i>
            <p>info@vegana.com</p>
          </li>
          <li>
            <i class="fas fa-phone-alt"></i>
            <p>+12027953213</p>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="header-option">
          <div class="header-curr">
            <i class="fas fa-money-bill"></i>
            <select class="header-select custom-select">
              <option class="clr" selected>currency</option>
              <option class="clr" value="1">Dollers</option>
              <option class="clr" value="2">Pound</option>
              <option class="clr" value="3">Euro</option>
            </select>
          </div>
          <div class="header-lang">
            <i class="fas fa-globe"></i>
            <select class="header-select custom-select">
              <option class="clr" selected>language</option>
              <option class="clr" value="1">English</option>
              <option class="clr" value="2">Turkish</option>
              <option class="clr" value="3">italian</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
