{% load static %}


{% if related.exists %}
  
<section class="section related-part">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2 class="title">Related products</h2>
            <a href="shop-leftbar.html" class="btn btn-outline"
              ><i class="fas fa-eye"></i> show more</a
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="product-slider slider-arrow">
            {% for product in related  %}
            <div class="product-card">
              <div class="product-img">
                <img src="{{product.featured_image.url}}" alt="product-1" />
                <ul class="product-widget">
                  <li>
                    <button><a href="{{product.get_absolute_url}}"><i class="fas fa-eye"></i></a></button>
                  </li>
                  <li>
                    <button><a href="{% url 'store:add-to-wishlist' product.slug %}"><i class="fas fa-heart"></i></a></button>
                  </li>
                  <li>
                    <button><a href="{% url 'store:add-to-cart' product.slug %}"><i class="fas fa-exchange-alt"></i></a></button>
                  </li>
                </ul>
              </div>
              <div class="product-content">
                <div class="product-name">
                  <h6><a href="{{product.get_absolute_url}}">{{product.name}}</a></h6>
                </div>
                <div class="product-price">
                  {% if product.discount_price %}
                    <h6><del>#{{product.actual_price}}</del> #{{product.discount_price}}</h6>
                    {% else %}
                    <h6>#{{product.actual_price}}</h6>
                  {% endif %}
                  <div class="product-rating">
                    <i class="fas fa-star"></i> <span>4.5/2</span>
                  </div>
                </div>
                <div class="product-btn">
                  <a href="{% url 'store:add-to-cart' product.slug %}">
                    <i class="fas fa-shopping-basket"></i>
                    <span>Add to Cart</span>
                  </a>
                </div>
              </div>
            </div>  
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

{% endif %}