{% load static %}

<section class="section related-part">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2 class="title">Related products</h2>
            <a href="shop-leftbar.html" class="btn btn-outline"
              ><i class="fas fa-eye"></i> show more</a
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="product-slider slider-arrow">
            <div class="product-card">
              <div class="product-img">
                <img src="../assets/images/product/01.png" alt="product-1" />
                <ul class="product-widget">
                  <li>
                    <button><i class="fas fa-eye"></i></button>
                  </li>
                  <li>
                    <button><i class="fas fa-heart"></i></button>
                  </li>
                  <li>
                    <button><i class="fas fa-exchange-alt"></i></button>
                  </li>
                </ul>
              </div>
              <div class="product-content">
                <div class="product-name">
                  <h6><a href="#">Heirloom Quinoa</a></h6>
                </div>
                <div class="product-price">
                  <h6><del>$80</del> $150</h6>
                  <div class="product-rating">
                    <i class="fas fa-star"></i> <span>4.5/2</span>
                  </div>
                </div>
                <div class="product-btn">
                  <a href="#">
                    <i class="fas fa-shopping-basket"></i>
                    <span>Add to Cart</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="product-card">
              <div class="product-img">
                <img src="../assets/images/product/02.png" alt="product-2" />
                <ul class="product-widget">
                  <li>
                    <button><i class="fas fa-eye"></i></button>
                  </li>
                  <li>
                    <button><i class="fas fa-heart"></i></button>
                  </li>
                  <li>
                    <button><i class="fas fa-exchange-alt"></i></button>
                  </li>
                </ul>
              </div>
              <div class="product-content">
                <div class="product-name">
                  <h6><a href="#">Heirloom Quinoa</a></h6>
                </div>
                <div class="product-price">
                  <h6><del>$80</del> $150</h6>
                  <div class="product-rating">
                    <i class="fas fa-star"></i> <span>4.5/2</span>
                  </div>
                </div>
                <div class="product-btn">
                  <a href="#">
                    <i class="fas fa-shopping-basket"></i>
                    <span>Add to Cart</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="product-card">
              <div class="product-img">
                <img src="../assets/images/product/03.png" alt="product-3" />
                <ul class="product-widget">
                  <li>
                    <button><i class="fas fa-eye"></i></button>
                  </li>
                  <li>
                    <button><i class="fas fa-heart"></i></button>
                  </li>
                  <li>
                    <button><i class="fas fa-exchange-alt"></i></button>
                  </li>
                </ul>
              </div>
              <div class="product-content">
                <div class="product-name">
                  <h6><a href="#">Heirloom Quinoa</a></h6>
                </div>
                <div class="product-price">
                  <h6><del>$80</del> $150</h6>
                  <div class="product-rating">
                    <i class="fas fa-star"></i> <span>4.5/2</span>
                  </div>
                </div>
                <div class="product-btn">
                  <a href="#">
                    <i class="fas fa-shopping-basket"></i>
                    <span>Add to Cart</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="product-card">
              <div class="product-img">
                <img src="../assets/images/product/04.png" alt="product-4" />
                <ul class="product-widget">
                  <li>
                    <button><i class="fas fa-eye"></i></button>
                  </li>
                  <li>
                    <button><i class="fas fa-heart"></i></button>
                  </li>
                  <li>
                    <button><i class="fas fa-exchange-alt"></i></button>
                  </li>
                </ul>
              </div>
              <div class="product-content">
                <div class="product-name">
                  <h6><a href="#">Heirloom Quinoa</a></h6>
                </div>
                <div class="product-price">
                  <h6><del>$80</del> $150</h6>
                  <div class="product-rating">
                    <i class="fas fa-star"></i> <span>4.5/2</span>
                  </div>
                </div>
                <div class="product-btn">
                  <a href="#">
                    <i class="fas fa-shopping-basket"></i>
                    <span>Add to Cart</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="product-card">
              <div class="product-img">
                <img src="assets/images/product/05.html" alt="product-5" />
                <ul class="product-widget">
                  <li>
                    <button><i class="fas fa-eye"></i></button>
                  </li>
                  <li>
                    <button><i class="fas fa-heart"></i></button>
                  </li>
                  <li>
                    <button><i class="fas fa-exchange-alt"></i></button>
                  </li>
                </ul>
              </div>
              <div class="product-content">
                <div class="product-name">
                  <h6><a href="#">Heirloom Quinoa</a></h6>
                </div>
                <div class="product-price">
                  <h6><del>$80</del> $150</h6>
                  <div class="product-rating">
                    <i class="fas fa-star"></i> <span>4.5/2</span>
                  </div>
                </div>
                <div class="product-btn">
                  <a href="#">
                    <i class="fas fa-shopping-basket"></i>
                    <span>Add to Cart</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="product-card">
              <div class="product-img">
                <img src="../assets/images/product/05.png" alt="product-5" />
                <ul class="product-widget">
                  <li>
                    <button><i class="fas fa-eye"></i></button>
                  </li>
                  <li>
                    <button><i class="fas fa-heart"></i></button>
                  </li>
                  <li>
                    <button><i class="fas fa-exchange-alt"></i></button>
                  </li>
                </ul>
              </div>
              <div class="product-content">
                <div class="product-name">
                  <h6><a href="#">Heirloom Quinoa</a></h6>
                </div>
                <div class="product-price">
                  <h6><del>$80</del> $150</h6>
                  <div class="product-rating">
                    <i class="fas fa-star"></i> <span>4.5/2</span>
                  </div>
                </div>
                <div class="product-btn">
                  <a href="#">
                    <i class="fas fa-shopping-basket"></i>
                    <span>Add to Cart</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>